.bg-or {
  --tw-bg-opacity: 1;
  background-color: rgb(255 87 0 / var(--tw-bg-opacity));
}
button {
  border-color: rgb(255 87 0 / var(--tw-border-opacity)); /* border-or */
  --tw-text-opacity: 1;
  border-top-right-radius: 0.375rem /* 6px */;
  border-bottom-right-radius: 0.375rem /* 6px */;
}
