@import '~@fortawesome/fontawesome-free/css/all.css';

header {
  display: flex;
  padding-left: 10%;
}

input {
  width: 100%; /* w-full */
  border-width: 1px; /* border */
  --tw-border-opacity: 1;
  border-color: rgb(255 87 0 / var(--tw-border-opacity)); /* border-or */
  border-right-width: 0px; /* border-r-0 */
  border-top-left-radius: 0.375rem /* 6px */;
  border-bottom-left-radius: 0.375rem /* 6px */;
  padding-left: 3rem /* 48px */; /* pl-12 */
  padding-top: 0.75rem /* 12px */;
  padding-bottom: 0.75rem /* 12px */; /* py-3 */
  padding-right: 0.75rem /* 12px */; /* pr-3 */
  padding-top: 0.75rem /* 12px */;
  padding-bottom: 0.75rem /* 12px */; /* rounded-1-md */
  outline: 2px solid transparent;
  outline-offset: 2px; /* focus:outline-none */
  @media (min-width: 768px) {
    .md\:flex {
      display: flex;
    }
  } /* md:flex */
}
button {
  --tw-bg-opacity: 1;
  background-color: rgb(255 87 0 / var(--tw-bg-opacity));
  border-width: 1px; /* border */
  --tw-border-opacity: 1;
  border-color: rgb(255 87 0 / var(--tw-border-opacity)); /* border-or */
  --tw-text-opacity: 1;
  border-top-right-radius: 0.375rem /* 6px */;
  border-bottom-right-radius: 0.375rem /* 6px */;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  padding-left: 2rem /* 32px */;
  padding-right: 2rem /* 32px */;
  padding-top: 0.625rem /* 10px */;
  padding-bottom: 0.625rem /* 10px */;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  @media (min-width: 768px) {
    .md\:flex {
      display: flex;
    }
  }
}
button:hover {
  background-color: transparent;
  --tw-text-opacity: 1;
  color: black;
}
